.includepath
.project
/EekBoek-*
/History/
/OLD/
/_build/
/blib/
/pm_to_blib
/ebcfgwiz/
/libgui/
/libgui-old/
*.tar
*.tar.gz
*.tgz
*.rpm
/po/
/oooicons/
/wxeb/
/xml-auditfile/
.*
*~
*.orig
*.rej
/EekBoek.spec
/t/ivp/ref/export.xaf
/Build
/Makefile
/Makefile.old
/debian/
/lib/EB/res/templates/*ebz
/lib/EB/res/locale
/META.yml
/regtest/
/t/admtest_*
/t/ivp/*.log
/t/ivp/*.eb
/t/ivp/schema.dat
/t/ivp/out/
/t/ivp/ebsqlite_sample*
