.includepath
.project
/EekBoek-*
/History/
/OLD/
/_build/
/blib/
/pm_to_blib/
/ebcfgwiz/
/libgui/
/libgui-old/
*.tar
*.tar.gz
*.tgz
*.rpm
/oooicons/
/wxeb/
/xml-auditfile/
.*
*~
/t/ivp/out/
*.orig
*.rej
/EekBoek.spec
/t/ivp/ref/export.xaf
/Build
/Makefile
/Makefile.old
/debian/
/lib/EB/schema/*ebz
/lib/EB/mo/
/META.yml
/regtest/
/t/admtest_*
